.productItem .title {
    line-height: 18px;
}

.productItem .actions button:hover svg {
    color: #fff !important;
}

.productItem .actions button svg {
    pointer-events: none;
}


.productItem .action-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35px !important;
    height: 35px !important;
    min-width: 35px !important;
    border-radius: 30% !important;
    background-color: white !important;
    color: #333 !important;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
    transform: translateX(20px);
    opacity: 0;
}

.productItem:hover .action-btn {
    transform: translateX(0);
    opacity: 1;
}

.productItem:hover .action-btn:nth-child(1) {
    transition-delay: 0.05s;
}

.productItem:hover .action-btn:nth-child(2) {
    transition-delay: 0.1s;
}

.productItem:hover .action-btn:nth-child(3) {
    transition-delay: 0.15s;
}

.productItem:hover .action-btn:nth-child(4) {
    transition-delay: 0.2s;
}

.productItem .action-btn:hover {
    background-color: #0011ff !important;
    color: white !important;
    transform: scale(1.2) !important;
}

.productItem .action-btn svg {
    font-size: 18px;
}